/* -------- Top Part -------- */
html {
    overflow: hidden;
}

#content {
    flex-direction: column;
}

.headline {
    padding-inline: 58px;
    padding-block: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline-area button {
    display: none;
    align-items: center;
}

.headline-serch {
    display: flex;
    gap: 40px;
}

.headline-serch button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
}

#search {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 8px;
    gap: 8px;
    box-sizing: border-box;
    height: 51px;
}

#search input {
    border: 0;
    border-radius: unset;
    font-size: 25px;
    height: auto;
    outline: none;
    padding: 0;
}

#search div {
    height: 100%;
    width: 2px;
    background-color: black;
}

#search img {
    height: 25px;
    width: 25px;
}

/* -------- Board -------- */
::-webkit-scrollbar {
    width: 0px;
}

.board-content {
    display: flex;
    padding-inline: 58px;
    gap: 40px;
    overflow: hidden;
    flex-grow: 1;
}

.board {
    width: 25%;
    overflow-y: auto;
    overflow-x: hidden;
}

.task {
    height: 90%;
}

.taskfieldHighlight {
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 30px;
}

.task-Head {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--bg-color);
}

.curser-unset {
    cursor: unset;
}

.task-Head h2 {
    font-size: 25px;
    margin: 0;
}

.task-Head div {
    height: 25px;
    width: 25px;
    background-image: url('../img/icons/add_black.svg');
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
}

.task-Head div:hover {
    border-color: var(--acccolor);
    background-image: url("../img/icons/add_blue.svg");
}


.task-Head {
    align-items: center;
}

#taskToDo,
#taskProgress,
#taskAwaFeedb,
#taskDone {

    height: 100%;
    flex-grow: 1;
    overflow: auto;
}

/* -------- card -------- */
.emptyCard {
    display: flex;
    justify-content: center;
    filter: opacity(0.5);
    border: 2px dashed var(--primcolor);
    margin-block: 10px;
    padding: 18px;
    border-radius: 15px;
    background-color: var(--fntcolor);
}

.card {
    display: flex;
    margin-block: 10px;
    gap: 8px;
}

.cardContend {
    padding: 18px;
    border-radius: 30px;
    background-color: white;
    filter: var(--drop-shadow);
    cursor: grab;
    transition: transform 125ms ease-in-out;
    width: 100%;
}

.cardContend:active {
    transform: rotate(5deg);
    cursor: grabbing;
}

.group {
    background-color: blue;
    padding: 4px 25px 4px 25px;
    border-radius: 8px;
    width: fit-content;

    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.cardContend h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-block: 12px;
}

.cardContend h3:hover {
    display: flex;
}

.cardContend p {
    font-size: 16px;
    color: #A8A8A8;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.cardContend p:hover {
    font-size: 16px;
    color: #A8A8A8;
    display: flex;
}

.progress,
.btm-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btm-line div {
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 100%;
    margin-left: -5px;
    padding: 10px 8px 10px 8px;
}

.btm-line div:first-child {
    margin-left: 0px;
}

.users div {
    align-items: center;
    justify-content: center;
    padding: unset;
    font-size: var(--fntsizebase);
    height: 32px;
    width: 32px;
}

.progress div {
    height: 8px;
    width: 60%;
    border-radius: 2px;
    background-color: #F4F4F4;
}

.progress div div {
    width: 50%;
    /*Value to set the progress*/
    background-color: var(--acccolor);
}

.progress span {
    font-size: 12px;
}

.cardControl {
    display: none;
}

.cardControl svg {
    height: 35px;
    width: 35px;
    fill: var(--primcolor);
    border: 2px solid var(--primcolor);
    border-radius: 10px;
}

.cardControl svg:hover {
    fill: var(--acccolor);
    border: 2px solid var(--acccolor);
}

.noControl {
    fill: none !important;
    border: none !important;
}

.animateShadow {
    animation: expandShadow 2s linear 0s 1 normal;
}

/*---------------- overlay ----------------*/
/*Task overlay*/
.ovlyTask {
    background-color: #FFFFFF;
    padding: 50px 0 50px 50px;
    border-radius: 30px;
}

#ovlyCardTask {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #FFFFFF;
    padding-right: 50px;
    min-width: 400px;
    max-width: 800px;
    box-sizing: border-box;
    max-height: calc((100vh - 90px - 90px) * 0.9);
    /* overflow: auto; */
}

#ovlyCardTask::-webkit-scrollbar {
    width: 10px;
}

#ovlyCardTask::-webkit-scrollbar-thumb {
    background: var(--fntcolor);
    border-radius: 10px;
}

#ovlyTaskGroup {
    font-size: var(--fntsize27);
    color: #FFFFFF;
    padding: 4px 37px;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
}

#ovlyTaskTitle {
    font-size: var(--fntsize61);
    font-weight: bold;
}

#ovlyTaskDescription {
    overflow: auto;
    min-height: 35px;
    scrollbar-width: thin;
}

#ovlyTaskWrapperDueDate {
    display: flex;
    align-items: center;
    gap: 25px;
}

#ovlyTaskWrapperPrio {
    display: flex;
    align-items: center;
    gap: 25px;
}

#ovlyTaskPrio {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 4px 18px;
    color: #FFFFFF;
}

#ovlyTaskWrapperAssignedTo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#ovlyTaskWrapperAssignedToList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 80px;
    overflow: auto;
    scrollbar-width: thin;
}
#ovlyTaskWrapperAssignedToList::-webkit-scrollbar {
    width: 10px;
}
#ovlyTaskWrapperAssignedToList::-webkit-scrollbar-thumb {
    background: var(--fntcolor);
    border-radius: 10px;
}

.ovlyAssignedToElement {
    display: flex;
    align-items: center;
    gap: 25px;
}

.ovlyAssignedToElement span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    width: 32px;
    height: 32px;
}

#ovlySubTask {
    display: flex;
    flex-direction: column;
}

#ovlySubTask span {
    margin-bottom: 8px;
}

#ovlySubTask ul {
    padding-left: 0;
    max-height: 80px;
    overflow-y: auto;
}
#ovlySubTask ul::-webkit-scrollbar {
    width: 10px;
}
#ovlySubTask ul::-webkit-scrollbar-thumb {
    background: var(--fntcolor);
    border-radius: 10px;
}

#ovlySubTask li {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 8px;
    margin-bottom: 4px;
}

#ovlySubTask label {
    padding-right: 16px;
    cursor: pointer;
}

#ovlySubTask li:hover {
    background-color: var(--fntcolor);
}

#ovlyTaskWrapperBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#ovlyTaskWrapperBtn button:first-child {
    border-radius: 10px 0 0 10px;
    margin-right: -2px;
    padding: 0;
}

#ovlyTaskWrapperBtn button:first-child div {
    -webkit-mask-image: url(../img/icons/bin.svg);
    mask-image: url(../img/icons/bin.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: 50%;
    mask-position: 50%;
    width: 51px;
    height: 51px;
    background-color: var(--primcolor);
}

#ovlyTaskWrapperBtn button:first-child div:hover {
    background-color: var(--acccolor);
    transition: all var(--transtime) ease-in-out;
}

#ovlyTaskWrapperBtn button:last-child {
    border-radius: 0 10px 10px 0;
}

#ovlyBtnClose {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    width: 42px;
    height: 42px;
}

#ovlyBtnClose:hover {
    background-color: var(--fntcolor);
}

#ovlyBtnClose svg {
    fill: var(--primcolor);
    width: 30px;
    height: 30px;
}



/*Edit Task overlay*/
.ovlyTaskEdit {
    background-color: #FFFFFF;
    padding: 50px 0 50px 50px;
    border-radius: 30px;
}

#ovlyTaskEditform {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    gap: 25px;
    min-width: 400px;
    box-sizing: border-box;
    max-height: calc((100vh - 90px - 90px) * 0.9);
    overflow: auto;
}

#ovlyTaskEditform::-webkit-scrollbar {
    width: 10px;
}

#ovlyTaskEditform::-webkit-scrollbar-thumb {
    background: var(--fntcolor);
    border-radius: 10px;
}

#ovlyTaskEditform div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#ovlyTaskEditform label {
    font-size: var(--fntsize20);
}

#ovlyTaskEditform input {
    width: unset;
}

#editTaskPrioUrgentlabel span,
#editTaskPrioMediumlabel span,
#editTaskPrioLow span,
#ovlyTaskEditform input {
    font-size: var(--fntsizebase);
}

#ovlyTaskEditform textarea {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 13px 21px;
    font-size: var(--fntsizebase);
    resize: none;
    outline-color: var(--acccolor);
    font-family: 'Inter';
}

#editTasktaskTitle,
#editTasktaskDate {
    outline-color: var(--acccolor);
    font-family: 'Inter';
}

#editTaskwrapperPrio {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

#editTaskwrapperPrio label {
    width: 33% !important;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#editTaskwrapperPrio label:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
}

#editTaskwrapperPrio input {
    display: none;
}

.editTaskPrioImg {
    width: 20px;
    height: 15px;
}

#editTaskPrioImgUrgent {
    -webkit-mask-image: url(../img/icons/Add-Task-Prio-Urgent.svg);
    mask-image: url(../img/icons/Add-Task-Prio-Urgent.svg);
    background-color: #FF3D00;
}

#editTaskPrioUrgent:checked~label #editTaskPrioImgUrgent {
    background-color: #FFFFFF;
}

#editTaskPrioImgMedium {
    -webkit-mask-image: url(../img/icons/Add-Task-Prio-Medium.svg);
    mask-image: url(../img/icons/Add-Task-Prio-Medium.svg);
    background-color: #FFA800;
}

#editTaskPrioMedium:checked~label #editTaskPrioImgMedium {
    background-color: #FFFFFF;
}

#editTaskPrioImgLow {
    -webkit-mask-image: url(../img/icons/Add-Task-Prio-Low.svg);
    mask-image: url(../img/icons/Add-Task-Prio-Low.svg);
    background-color: #7AE229;
}

#editTaskPrioLow:checked~label #editTaskPrioImgLow {
    background-color: #FFFFFF;
}

#editTaskPrioUrgent:checked~#editTaskPrioUrgentlabel {
    background-color: #FF3D00;
    color: #FFFFFF;
    font-weight: bold;
}

#editTaskPrioMedium:checked~#editTaskPrioMediumlabel {
    background-color: #FFA800;
    color: #FFFFFF;
    font-weight: bold;
}

#editTaskPrioLow:checked~#editTaskPrioLowlabel {
    background-color: #7AE229;
    color: #FFFFFF;
    font-weight: bold;
}

#ovlyEditTaskwrapperAssignedToHL {
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
    outline-color: var(--acccolor);
}

#ovlyEditTaskwrapperAssignedToHL.styleOpen {
    border-bottom: none;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

#ovlyEditTaskwrapperAssignedToHLImg {
    transition: all var(--transtime) ease-in;
}

#ovlyEditTaskwrapperAssignedToHLImg.styleOpen {
    transform: rotate(180deg);
    transition: all var(--transtime) ease-in;
}

#ovlyEditTaskWrapperMemberList {
    overflow: auto;
    height: 150px;
    scrollbar-width: thin;
    border: 1px solid #D1D1D1;
    margin-top: -6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
}

#ovlyEditTaskWrapperMemberListElement {
    flex-direction: row !important;
    justify-content: space-between;
    padding: 8px 21px;
    cursor: pointer;
}

#ovlyEditTaskWrapperMemberListElement:hover {
    background-color: #d3cfcf;
    transition: all var(--transtime) ease-in;
}

#ovlyEditTaskWrapperMemberListElement {
    flex-direction: row !important;
    justify-content: space-between;
    padding: 8px 21px;
    cursor: pointer;
}

#ovlyEditTaskWrapperMemberListElement:hover {
    background-color: #d3cfcf;
    transition: all var(--transtime) ease-in;
}

#ovlyEditTaskWrapperAssignedToActual {
    flex-direction: row !important;
    flex-wrap: wrap;
    margin-top: 15px;
}

#ovlyEditTaskWrapperMemberListElement {
    flex-direction: row !important;
    justify-content: space-between;
}

#ovlyEditTaskWrapperSubTask div {
    flex-direction: row !important;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

#ovlyEditTaskWrapperSubTask div:hover {
    cursor: pointer;
}

#ovlyEditTaskSubtaskInp {
    border: none;
    outline: none;
    width: 100%;
    font-size: var(--fntsizebase);
}

#ovlyEditTaskWrapperSubTask div img {
    margin-right: 16px;
}

#ovlyEditTaskWrapperSubTask #subtaskContainer {
    align-items: center;
    justify-content: space-between;
}

#ovlyEditTaskSubTaskUl {
    max-height: 65px;
    overflow: auto;
}

#ovlyEditTaskSubTaskUl:hover::-webkit-scrollbar {
    width: 10px;
}

#ovlyEditTaskSubTaskUl::-webkit-scrollbar-thumb {
    background: var(--fntcolor);
    border-radius: 10px;
}

#ovlyEditTaskSubTaskUl li {
    height: 20px;
}

#ovlyEditTaskSubTaskUl li::marker {
    font-size: 16px;
}

#ovlyEditTaskSubTaskUl li div {
    padding-left: 4px;
    border: none;
}

#ovlyEditTaskSubTaskUl .subtasksTitles {
    font-size: var(--fntsizebase);
}

#ovlyTaskEditform button {
    width: fit-content;
    align-self: flex-end;
    padding-block: 16px;
    margin-top: -25px;
}

#msgSubTask {
    font-size: var(--fntsize12);
    color: red;
    margin-block: -5px;
}

#ovlyCardAddTask {
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 60px 70px;
}

.headline {
    margin: unset !important;
}

#addTaskWrapper {
    gap: 30px;
}

#ovlyTaskaddedToBoard {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    bottom: -200px;
    left: calc(50% - 163px);
    width: 326px;
    border-radius: 20px;
    background-color: var(--seccolor);
    color: #FFFFFF;
    font-size: var(--fntsize20);
    padding: 25px 0px;
    z-index: 2;
}

#ovlyTaskaddedToBoard.addAnimtaion {
    animation: showInformation 2s linear 0s 1 normal;
}

@keyframes showInformation {
    0% {
        bottom: -200px;
    }

    10% {
        bottom: 200px;
    }

    90% {
        bottom: 200px;
    }

    100% {
        bottom: -200px;
    }
}

@keyframes expandShadow {
    0% {
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
    }

    50% {
        filter: drop-shadow(2px 8px 4px rgba(0, 0, 0, 0.1));
    }

    100% {
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
    }
}

/*---------------- responsive ----------------*/
@media (max-height:850px) {
    #ovlyCardTask {
        overflow: auto;
    }
}

@media (max-width: 1500px) {
    .headline {
        padding: 40px;
    }

    .board-content {
        padding-inline: 40px;
    }

    .task-Head {
        height: 60px;
    }
}

@media (max-width: 870px) {

    .headline,
    .board,
    .board-content {
        padding-inline: 5px;
    }

    .board,
    .board-content {
        gap: 10px;
    }
}

@media (max-width: 720px) {
    #content {
        display: flex;
        align-items: center;
    }

    .headline {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .headline button {
        display: none;
    }

    .headline-area {
        width: 100%;
    }

    .headline-area button {
        display: flex;
    }

    .headline input {
        width: 80vw;
    }

    .board-content {
        display: block;
        overflow-y: auto;
        width: 95vw;
        margin-bottom: 10px;
    }

    .board {
        width: auto;
    }

    .task {
        height: 100%;
    }

    .task-Head {
        margin-top: 20px;
    }

    #taskToDo,
    #taskProgress,
    #taskAwaFeedb,
    #taskDone {
        min-height: 80px;
    }

    .cardControl {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /* Overlay task*/

    #ovlyBtnClose {
        right: 20px;
        top: 20px;
        background-color: var(--acccolor);
        -webkit-mask-image: url(../img/icons/arrow_left_line.svg);
        mask-image: url(../img/icons/arrow_left_line.svg);
    }

    #ovlyTaskDescription {
        max-height: 30%;
    }

    #ovlyTaskWrapperAssignedToList {
        max-height: unset;
    }


    /* overlay edit task */
    #editTasktaskTitle,
    #editTasktaskDate {
        width: 100%;
    }

    #editTasktaskDescription {
        height: 80%;
    }

    #wrapperEditTaskDescription {
        height: 30%;
    }

    #ovlyEditTaskOkBtn {
        margin-bottom: 25px;
    }

}

@media (max-width: 500px) {

    .ovlyCard {
        width: calc(100vw - 50px);
        height: calc(100vh - 50px);
    }

    /* .ovlyTask, */
    .ovlyTaskEdit {
        padding: 40px 0 20px 20px;
    }

    #ovlyCardTask {
        min-width: unset;
    }

    #ovlyTaskEditform {
        max-height: calc(100vh - 150px);
        padding-right: 20px;
    }

    #editTaskwrapperPrio label span {
        font-size: var(--fntsizebase);
    }

}

@media (max-width: 400px) {
    .headline input {
        width: 70vw;
    }

    #ovlyBtnClose {
        position: fixed;
    }

    /* overlay */

    #ovly {
        display: unset;
    }

    .ovlyTask {
        padding: unset;
    }

    .ovlyTask,
    #ovlyCardTask {
        height: 100vh;
        max-height: unset;
        width: 100vw;
        border-radius: unset;
    }

    #ovlyCardTask {
        padding: 50px 20px;
    }

    /* overlay Edit */
    .ovlyTaskEdit {
        padding: unset;
    }

    .ovlyTaskEdit,
    #ovlyTaskEditform {
        height: 100vh;
        max-height: unset;
        width: 100vw;
        border-radius: unset;
    }

    #editTaskwrapperPrio {
        flex-direction: column;
    }

}